* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}



body {
  width: 100vw;
  height: 100dvh;

  position: relative;
  background-color: hsl(300, 15%, 8%);

  display: grid;
  place-content: center;

  font-family: 'Inter', sans-serif;
  color: #fbfbfa;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

table {
  border-collapse: collapse;
  border-radius: 100%;
  border: 2px dashed hsl(0, 47%, 77%);

  &:focus-within tbody tr:not(:focus-within) {
    filter: blur(1px) saturate(0.1);
    pointer-events: none;
    opacity: 0.8;
  }

  th,
  td {
    padding: 0.5rem 1rem;
    text-align: left;
    width: fit-content;
    border-radius: 10px;
  }

  tr:not(:last-of-type) {
    border: 1px solid hsl(0, 0%, 27%);
    border-left: 0;
    border-right: 0;
  }

  input {
    font-size: inherit;
    padding-block: 0.5rem;
    height: 40px;
    /* width: 100%; */
    font-weight: inherit;
    border: 0;
    height: 100%;
    background-color: hsl(300, 15%, 8%);
    border-radius: 0;
    caret-color: currentColor;
    text-align: left;
    transition: color 0.26s ease;
    color: currentColor;
    appearance: none;
  }
}

input:not(:focus, :focus-visible) {
  cursor: pointer;
}
