:root {
	--color-primary-bg: color-mix(in srgb, var(--color-primary-border) 12%, transparent);
	--color-primary-border: currentColor;
	--color-primary-text: #0e37cd;

	--color-danger-bg: color-mix(in srgb, var(--color-danger-border) 12%, transparent);
	--color-danger-border: currentColor;
	--color-danger-text: #dc2626;

	--color-warning-bg: color-mix(in srgb, var(--color-warning-border) 12%, transparent);
	--color-warning-border: currentColor;
	--color-warning-text: #b45309;

	--color-success-bg: color-mix(in srgb, var(--color-success-border) 12%, transparent);
	--color-success-border: currentColor;
	--color-success-text: #15803d;

	--color-brand-bg: color-mix(in srgb, var(--color-brand-border) 12%, transparent);
	--color-brand-border: currentColor;
	--color-brand-text: #4338ca;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Metrophobic', sans-serif;
	height: 100vh;
	width: 100%;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	caret-color: transparent;
}

.badge__section {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.badge__variants {
	display: flex;
	align-items: center;
	gap: 30px;

	p {
		display: inline;
	}
}

.badge {
	border-radius: 30px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	width: 80px;
}

.badge--size-sm {
	height: 22px;
	padding: 1px 4px;
	font-size: 12px;
	line-height: 16px;
}

.badge--size-md {
	height: 24px;
	padding: 1px 7px;
	font-size: 14px;
	line-height: 20px;
}

.badge--size-lg {
	height: 28px;
	padding: 3px 9px;
	font-size: 14px;
	line-height: 20px;
}

.badge--color-primary {
	background: var(--color-primary-bg);
	border-color: var(--color-primary-border);
	color: var(--color-primary-text);
}

.badge--color-danger {
	background: var(--color-danger-bg);
	border-color: var(--color-danger-border);
	color: var(--color-danger-text);
}

.badge--color-warning {
	background: var(--color-warning-bg);
	border-color: var(--color-warning-border);
	color: var(--color-warning-text);
}

.badge--color-success {
	background: var(--color-success-bg);
	border-color: var(--color-success-border);
	color: var(--color-success-text);
}

.badge--color-brand {
	background: var(--color-brand-bg);
	border-color: var(--color-brand-border);
	color: var(--color-brand-text);
}