* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #171111;
  font-family: 'Inter', sans-serif;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #74d4ff;
}

a {
  text-decoration: none;
  position: relative;
  color: #74d4ff;
  padding: 2px 3px;
  border: 1px dashed color-mix(in hsl, currentColor 35%, transparent);
}

svg {
  position: absolute;
  fill: currentColor;
}

#tr_corner{
  top: -3px;
  right: -3px;
}
#tl_corner {
  top: -3px;
  left: -3px;
}

#br_corner {
  bottom: -3px;
  right: -3px;
}

#bl_corner {
  bottom: -3px;
  left: -3px;
}
