* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --white-space: 20px;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #171117;
  font-family: 'Inter', sans-serif;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-flow: column wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  caret-color: transparent;
  font-size: 62.5%;
  padding: 3em;
  background-color: #f5f7fb;
}

h1 {
  font-size: 4em;
  margin-bottom: 1em;
  font-weight: bold;
}

p {
  font-size: 2em;
  text-align: justify;
  display: inline-block;
  max-width: 500px;
  line-height: 1.6;
}

ins,
del{
  text-decoration: none;
  display: inline-block;
  padding: 0 0.2em;
  color: #171117;
}

ins {
  background: #83d5a8;
  height: auto;
  border-radius: 0.3em;
  display: inline;
  box-decoration-break: clone;
  margin-left: 0.07em;
  margin-right: 0.07em;
}

del {
  background-color: rgba(231, 76, 60, 0.4);
  width: auto;
  color: #d43e2e;
  display: inline;
  padding: 0 0.35em 0em 0.35em;
  border-radius: 0.3em;
  cursor: no-drop;
}
