* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 2;
  background-color: #fafafa;
  color: #171111;
}

footer {
  margin: 20px;
  padding: 20px;
  color: #f1c1c1;
  background-color: #333;
  border-radius: 30px;
  position: sticky;
  bottom: 0;
  z-index: 1;
  height: 500px;
  h2 {
    color: #f1b1b1;
  }
}
