* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}


.main__container {
  position: relative;
  z-index: 2;
  background-color: #777;
  margin-inline: 20px;
  border-radius: 0px 0px 20px 20px;
}

footer {
  padding: 20px;
  background-color: #fff;
  position: sticky;
  bottom: 0;
  z-index: 1;
  height: auto;
}