* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "recoleta", sans-serif;
  background-color: #4a5b23;
  color: #333;
  &::before {
    position: absolute;
      left: 0;
      top: 0;
      content: '';
      width: 100%;
      height: 100%;
      z-index: -1;
    
      opacity: 40%;
      background: #4a5b23;
      filter: url(#noise);
  }
}

b {
  color: #fadb87;
}




