* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  caret-color: transparent;
}

.star__rating {
    --percent: calc(var(--rating) / 5 * 100%);

    display: inline-block;
    font-size: 60px;
    line-height: 1;
    font-family: "Inter", serif;
    &::before {
      content: '★★★★★';
      background-clip: text;
      background-image: linear-gradient(90deg, gold var(--percent), #f1f1ff var(--percent));
      color: transparent;
    }
  }
