* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100dvh;

  position: relative;
  background-color: #171117;

  font-family: 'Inter', sans-serif;
  color: #fbfbfa;
}

main,
.page-width {
  max-width: 900px;
  padding-inline: 3rem;
  margin-inline: auto;
}

main {
  padding-block: 2em;
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: start;
  gap: 2rem;

  text-align: left;

  p {
    margin: 0 1em 1em 1em;
    line-height: 1.5;
  }
}

aside {
  position: sticky;

  top: 5rem;
  padding-inline: 0.5em;

  text-align: center;

  p {
    font-size: 0.8em;
  }

  img {
    margin-top: 1rem;
    object-fit: cover;
    height: 150px;
    border-radius: 8px;
  }
}

header,
footer {
  height: 50px;
}
