* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100dvh;

  position: relative;
  background: #171117;

  display: grid;
  place-content: center;

  font-family: 'Inter', sans-serif;
}

.text__shine {
  background-image: linear-gradient(
    95deg,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 1) 100%
  );
   background-position: 0;
   background-clip: text;

  animation: shine 2s ease-out infinite;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: normal;

  color: transparent;
  font-weight: 900;
  font-size: 50px;
  white-space: nowrap;
  background-size: 300px;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 300px;
  }
}
