* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100dvh;

  position: relative;
  background-color: #171117;

  display: grid;
  place-content: center;

  font-family: 'Inter', sans-serif;
  color: #fbfbfa;
}

img {
  display: inline-block;
  max-width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: top;
}

.slider-container {
  --position: 50%;
  writing-mode: vertical-lr;
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.image-container {
  max-width: 600px;
  height: 60vh;
}

.slider-image {
  width: 100%;
  height: 100%;
}

.image-before {
  position: absolute;
  inset: 0;
  clip-path: inset(0 0 calc(100% - var(--position)) 0);
  filter: grayscale(100%);
}

.slider-input {
  position: absolute;
  inset: 0;
  cursor: grab;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.slider:focus-visible ~ .slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}

.slider-line {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 0.2rem;
  background-color: hsl(0, 0%, 80%);
  top: var(--position);
  transform: translateY(-50%);
  pointer-events: none;
}

.slider-button {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  color: hsl(300, 15%, 8%);

  padding: 0.25rem;
  border-radius: 100px;

  display: grid;
  place-items: center;
  left: 50%;
  top: var(--position);
  transform: translate(-40%, -50%);

  pointer-events: none;
  box-shadow: 1px 1px 1px hsl(0, 50%, 2%, 0.5);
  svg {
    rotate: 90deg;
  }
}
