* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

	background: #192627;
	overflow: hidden;
}

.img__container {
	position: relative;
	width: 200px;
	height: 200px;
	transform-style: preserve-3d;
	transform: perspective(1000px) rotateY(0deg);
	transition: transform 0.85s;
}

.img__container .image {
	position: absolute;
	top: 0;
	left: 0;

	width: 250px;
	height: 150px;
	object-fit: cover;
	transform: rotateY(calc(var(--i) * 45deg)) translateZ(600px);
}

.btn__container {
	position: relative;
	width: 80%;
	.btn {
		position: absolute;
		bottom: -80px;
		background: #171618;
		color: #fff;
		border: none;
		padding: 10px 20px;
		border-radius: 5px;
		cursor: pointer;
		&:hover {
			filter: brightness(1.5);
		}

		&#btn__prev {
			left: 20%;
		}

		&#btn__next {
			right: 20%;
		}
	}
}
