* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #cdcdd8;
  height: 100dvh;
  display: grid;
  place-content: center;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1em;
}

form {
  --form-color: #4a4a4a;
  --form-disabled: #999;
  outline: transparent;
}

.form__control {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;

  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;

  margin-top: 1em;
}

.form__control--disabled {
  color: var(--form-disabled);
  cursor: not-allowed;
}

input[type='radio'] {
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.15em solid currentColor;

  display: grid;
  place-content: center;

  &:disabled {
    --form-color: var(--form-disabled);
    color: var(--form-disabled);
    cursor: not-allowed;
  }
  &:checked  {
    background-color: var(--form-color);
    accent-color: var(--form-color);
   border-color: solid 1px var(--form-color);
  }
}

