* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --white-space: 20px;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #171111;
  font-family: 'Inter', sans-serif;
}

main {
  --primary: #116dff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  caret-color: transparent;
  font-size: 62.5%;
}

img {
  --o: 20px;
  /* offset of the border*/
  --b: 15px;
  /* border thickness */

  mask:
    conic-gradient(#0000 0) no-repeat 50%/ calc(100% - 2*(var(--o) + var(--b))) calc(100% - 2*(var(--o) + var(--b))),
    conic-gradient(from 90deg at var(--o) var(--o), #0000 25%, #000 0) 0 0/calc(100% - var(--o)) calc(100% - var(--o));
  width: 250px;
}