* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100dvh;

  position: relative;
  background-color: #171117;

  display: grid;
  place-content: center;

  font-family: 'Inter', sans-serif;
  color: #fbfbfa;
}

.input--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 15em;
  height: 3em;
  border-radius: 10px;
  position: relative;
  border: 2px solid #000000;
  font-size: 18px;

  input {
    outline: none;
    font-weight: normal;
    border: none;
    padding: 0px 1em;
    height: 100%;
    width: 15em;
    font-size: 15px;
  }
}

.input--prefix {
  display: grid;
  place-content: center;
  width: 10em;
  height: 100%;

  color: #999;
  font-size: 15px;
  font-weight: bolder;
  padding: 1em;
  background-color: #dedede;

  border-radius: 10px 0px 0px 10px;

  cursor: not-allowed;
}

.input--icon {
  display: grid;
  place-content: center;

  font-size: 1e;
  filter: grayscale(50%);
  background-color: currentColor;
  vertical-align: middle;

  height: 100%;



  padding-right: 10px;
  border-radius: 0px 10px 10px 0px;

  cursor: default;
  position: relative;
}
