* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100dvh;

  position: relative;
  background-color: #171117;

  display: grid;
  place-content: center;

  font-family: 'Inter', sans-serif;
  color: #fbfbfa;
}

table {
  border-collapse: collapse;

  th,
  td {
    padding: 0.5rem 1rem;
    text-align: left;
    border: 1px solid #444;
    width: fit-content;
  }

  td::focus-within {
    background-color: hsla(0, 2%, 89%, 0.44);
  }

  tr:not(:last-of-type) {
    border-bottom: 1px solid #444;
  }
}


