:root {
	--primary-white: #fafafa;
	--gray-100: #fcfcfd;
	--primary-black: #212121;
	color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	border: 0;
}

body {
	color: light-dark(var(--primary-black), var(--primary-white));
	background-color: light-dark(var(--primary-white), var(--primary-black));
	width: 100%;
	height: 100vh;
	caret-color: transparent;
}

button {
	caret-color: transparent;
	outline: lightskyblue;
	background-color: transparent;
	border-radius: 8px;
	cursor: pointer;
}

.theme__toggle {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.theme__toggle--button {
	padding: 10px;
}

.theme__toggle--button svg {
	width: 50px;
	height: auto;
}

.theme__toggle--light {
	display: var(--theme-toggle-sun-icon-display);
}
.theme__toggle--dark {
	display: var(--theme-toggle-moon-icon-display);
}

 @media (prefers-color-scheme: dark) {
	:root {
		--theme-toggle-sun-icon-display: none;
		--theme-toggle-moon-icon-display: block;
	}
 }

 @media (prefers-color-scheme: light) {
 	:root {
 		--theme-toggle-sun-icon-display: block;
 		--theme-toggle-moon-icon-display: none;
 	}
 }
